<% if @my_cart.count != 0 %>
<div class="cell" id="shopping-cart">
  <form action="/order" method="post">
    <div class="card shadow radius padding-1">
      <h1><i class="fa fa-shopping-basket" aria-hidden="true"></i> Shopping Cart:</h1>
        <table class="hover">
          <tr>
            <th class="left">Dish</th>
            <th class="center">Quantity</th>
            <th class="right">Price</th>
            <th class="right">Sum</th>
          </tr>
          <% @my_cart.each do |item| %>
            <tr>
              <td class="left"><%=item.dish_name%></td>
              <td class="center quantity"><%=item.quantity%></td>
              <td class="right"><%=item.dish_price%> kr</td>
              <td class="right"><%=item.dish_price * item.quantity %> kr</td>
            </tr>
          <%end%>
          <tr>
            <td class="left"></td>
            <td class="center"></td>
            <td class="right"><strong>Total:</strong></td>
            <td class="right"><strong><%=@cart_total%></strong></td>
          </tr>
        </table>
        <div class="inline">
          <a href="/clear_cart" class="button lined float-left">
            <i class="fa fa-trash"></i>&nbsp;Empty Shopping Cart&nbsp;
          </a>
          <button type="submit" class="button lined float-right" id="checkout">
            <i class="fa fa-shopping-cart"></i>&nbsp;Place order&nbsp;
          </button>
        </div>
      </div>
    </form>
  </div>
<%end%>

<div class="cell">
  <div class="card shadow radius padding-1">
    <div class="stitched">
      <h1>Menu:</h1>
      <% @categories.each do |category| %>
        <h2><%= category.name %></h2>
        <% category.dishes.each do |dish| %>
          <form class="dishes" action="/" method="post">
            <input type="hidden" name="dish_id" value="<%= dish.id %>">
            <div class="dish-container" id="dish<%= dish.id %>">
              <button type="submit" class="float-right" name="add_dish" value="add"><i class="fa fa-plus-square"></i></button>
              <div class="dish inline float-left"><%= dish.name %></div>
              <div class="dish inline float-right"><%= dish.price %> kr</div>
              <div class="dish clear light"><%= dish.description %></div>
            </div>
          </form>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
